@import "tailwindcss";
@plugin "daisyui";
@layer utilities {
  .hero-custom-bg {
    background-image: url('https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp');
    background-size: cover;
    background-position: center;
  }

  .header-custom-shadow {
    clip-path:
      "polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
  }
}

.radial-progress[data-value] {
  --size: 5rem;
  --thickness: 0.5rem;
  width: var(--size);
  height: var(--size);
  border-width: var(--thickness);
}
.radial-progress[data-value="85"] {
  --value: 85;
}
.radial-progress[data-value="95"] {
  --value: 95;
}